<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link href="/static/css/index.css" rel="stylesheet">
  </head>

  <body>
    <title> Multi Face Detector</title>

    <h1> Multi Face Detector</h1>

    <h1><a href="https://github.com/MatD3mons/Multi_Face_Detector">https://github.com/MatD3mons/Multi_Face_Detector</a></h1>

    <div class="first">
      <form action="/image" method="post" class="form">
        <input type="submit" value="Image" class="input">
      </form>
      <form action="/camera" method="post" class="form">
        <input type="submit" value="Camera" class="input">
      </form>
    </div>

  </body>
</html>
